<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= inventory.name  %> Inventory</title>
</head>
<body>
    <h1>Name: <%= inventory.name  %></h1>
    <h1>Owner: <%= inventory.owner.username  %></h1>

    <% if (inventory.owner._id.equals(user._id)) { %>

        <a href="/inventories/<%= inventory._id  %>/edit">Edit</a>

        <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this inventory</button>
        </form>

        <!-- List of Products -->
        <h1>Product List</h1>
        <a href="">Add Product</a>





    <% } else { %>
    <p>You don't own this, <%= inventory.owner.username %> does!</p>
    <% } %>

    <a href="/inventories">Back to All Inventory</a>
</body>
</html>