<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title><%= inventory.name  %> Inventory</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <% if (inventory.owner._id.equals(user._id)) { %>
        <!-- List of Products -->
        <div class="products-grid">
            <div class="inventories-list">
                <h1>Inventory: <%= inventory.name  %></h1>
                <% inventories.forEach(inventory => { %>
                    <div class="inventory">
                        <div class="name-color">
                            <a href="/inventories/<%= inventory._id  %>">
                                <div class="color" style="background-color: <%= inventory.color %>"></div>
                            </a>
                            <a href="/inventories/<%= inventory._id  %>">
                                <%= inventory.name  %>
                            </a>
                        </div>
                        <div class="inventory-icons">
                            <button class="button view">
                                <a href="/inventories/<%= inventory._id  %>">
                                    <img class="icon" src="/assets/view.svg" alt="">
                                </a>
                            </button>
                            <button class="button edit">
                                <a href="/inventories/<%= inventory._id  %>/edit">
                                    <img class="icon" src="/assets/edit.svg" alt="">
                                </a>
                            </button>
                            <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
                                <button class="button delete" type="submit">
                                    <img class="icon" src="/assets/delete.svg" alt="">
                                </button>
                            </form>
                        </div>
                    </div>
                <% }) %>
                <button class="button add-inventory">
                    <a href="/inventories/new">Create New Inventory</a>
                </button>
            </div>
            <div class="product-table-container">
                <h1><%= inventory.name  %> Product List</h1>
                <p class="inventory-description"><%= inventory.description  %></p>
                <button class="button create-product" onclick="handleClick()">Create New Product</button>
                <table>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Amount</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    <% inventory.products.forEach(product => { %>
                        <tr id= <%= product._id  %>>
                            <td><a href="/products/<%= product._id  %>"><%= product.name  %></a></td>
                            <td><%= product.description  %></td>
                            <td><%= product.amount  %></td>
                            <td>$<%= product.price  %></td>
                            <td><%= product.status  %></td>
                            <td>
                                <button class="button edit">
                                    <a href="/products/<%= product._id  %>/edit">
                                        <img class="icon" src="/assets/edit.svg" alt="">
                                    </a>
                                </button>
                            </td>
                            <td>
                                <form action="/products/<%= product._id %>/<%= inventory._id  %>?_method=DELETE" method="POST">
                                    <button class="button delete" type="submit">
                                        <img class="icon" src="/assets/delete.svg" alt="">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </table>

                <!-- Create Product Form -->
                <div class="create-product-modal-container">
                    <div class="create-product-modal">
                        <h1>Create New Product</h1>
                        <form action="/products" method="POST">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                            <br>
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description">
                            <br>
                            <label for="amount">Amount:</label>
                            <input type="number" id="amount" name="amount" required>
                            <br>
                            <label for="price">Price:</label>
                            <input type="number" id="price" name="price">
                            <br>
                            <label for="status">Status:</label>
                            <input type="text" id="status" name="status" required>
                            <br>
                            <input type="text" name="inventory" id="inventory" value="<%= inventory._id  %>">
                            <br>
                            <div class="form-buttons">
                                <button class="button create-product" type="submit">
                                    Create Product
                                </button>
                                <button type="button" onclick="hideModal()" class="button cancel">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
    <p>You don't own this, <%= inventory.owner.username %> does!</p>
    <% } %>
    <script>
        const inventoryId = document.getElementById("inventory");
        inventoryId.style.display = "none";

        const createProductModal = document.getElementsByClassName('create-product-modal')[0];
        const createProductModalContainer = document.getElementsByClassName('create-product-modal-container')[0];

        function handleClick(){
            createProductModal.style.display = "inline-flex";
            createProductModalContainer.style.display = "flex";
        }

        function hideModal(){
            createProductModal.style.display = "none";
            createProductModalContainer.style.display = "none";
        }
    </script>
</body>
</html>