<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Your Products</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="products-grid">
        <div class="inventories-list">
            <h1>All Inventories</h1>
            <% inventories.forEach(inventory => { %>
                <div class="inventory">
                    <div class="name-color">
                        <a href="/inventories/<%= inventory._id  %>">
                            <div class="color" style="background-color: <%= inventory.color %>"></div>
                        </a>
                        <a href="/inventories/<%= inventory._id  %>">
                            <%= inventory.name  %>
                        </a>
                    </div>
                    <div class="inventory-icons">
                        <button class="button view">
                            <a href="/inventories/<%= inventory._id  %>">
                                <img class="icon" src="/assets/view.svg" alt="">
                            </a>
                        </button>
                        <button class="button edit">
                            <a href="/inventories/<%= inventory._id  %>/edit">
                                <img class="icon" src="/assets/edit.svg" alt="">
                            </a>
                        </button>
                        <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
                            <button class="button delete" type="submit">
                                <img class="icon" src="/assets/delete.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>
            <button class="button add-inventory">
                <a href="/inventories/new">Create New Inventory</a>
            </button>
        </div>
    <div class="products-container">
        <h1>All Products</h1>
        <div class="products">
            <% inventories.forEach(inventory => { %>
                <div class="inventory-product-container">
                    <div class="inventory-header">
                        <h1>                        
                            <a href="/inventories/<%= inventory._id  %>">
                                <%= inventory.name  %>
                            </a>
                        </h1>
                        <p><%= inventory.description  %></p>
                        <div class="inventory-icons">
                            <div class="icon-container">
                                <button class="button view">
                                    <a href="/inventories/<%= inventory._id  %>">
                                        <img class="icon" src="/assets/view.svg" alt="">
                                    </a>
                                </button>
                                <button class="button edit">
                                    <a href="/inventories/<%= inventory._id  %>/edit">
                                        <img class="icon" src="/assets/edit.svg" alt="">
                                    </a>
                                </button>
                                <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
                                    <button class="button delete" type="submit">
                                        <img class="icon" src="/assets/delete.svg" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Amount</th>
                          <th>Price</th>
                          <th>Status</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        <% inventory.products.forEach(product => { %>
                            <tr id= <%= product._id  %>>
                                <td><a href="/products/<%= product._id  %>"><%= product.name  %></a></td>
                                <td><%= product.description  %></td>
                                <td><%= product.amount  %></td>
                                <td>$<%= product.price  %></td>
                                <td><%= product.status  %></td>
                                <td>
                                    <button class="button edit">
                                        <a href="/products/<%= product._id  %>/edit">
                                            <img class="icon" src="/assets/edit.svg" alt="">
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    <form action="/products/<%= product._id %>/<%= inventory._id  %>/allproducts?_method=DELETE" method="POST">
                                        <button class="button delete" type="submit">
                                            <img class="icon" src="/assets/delete.svg" alt="">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                    <button class="button create-product" onclick="handleClick('<%= inventory._id  %>')">Create New Product</button>
                </div>
            <% }) %>
        </div>

        <!-- Create Product Form -->
        <div class="create-product-modal-container">
            <div class="create-product-modal">
                <h1>Create New Product</h1>
                <form action="/products/allProducts" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description">
                    <br>
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" required>
                    <br>
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price">
                    <br>
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required>
                    <br>
                    <!-- Need to update -->
                    <input type="text" name="inventory" id="inventory">
                    <br>
                    <div class="form-buttons">
                        <button class="button create-product" type="submit">
                            Create Product
                        </button>
                        <button type="button" onclick="hideModal()" class="button cancel">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        const inventoryId = document.getElementById("inventory");
        inventoryId.style.display = "none";

        const createProductModal = document.getElementsByClassName('create-product-modal')[0];
        const createProductModalContainer = document.getElementsByClassName('create-product-modal-container')[0];

        function handleClick(value){
            inventoryId.value = value;
            createProductModal.style.display = "inline-flex";
            createProductModalContainer.style.display = "flex";
        }

        function hideModal(){
            createProductModal.style.display = "none";
            createProductModalContainer.style.display = "none";
        }
    </script>
</div>


</body>
</html>